/* Do not change this file for this exercise*/

.row {
    display: flex;
}

div {
    padding: 5px;
}

.task-status {
    border-radius: 10px;
}

.todo {
    background-color: red;
}

.doing {
    background-color: yellow;
}

.done {
    background-color: green;
}